{% if groups['vsphere_powerdns_vms'] is defined %}
[vsphere_powerdns_vms]
{% for host in groups['vsphere_powerdns_vms'] %}
{{ hostvars[host]['inventory_hostname'] }} ansible_host={{ hostvars[host]['ansible_host'] }} hw_product_uuid={{ hostvars[host]['hw_product_uuid'] }}
{% endfor %}
{% elif groups['vsphere_powerdns_vms'] is not defined %}
[vsphere_powerdns_vms]
{% endif %}
